*{
  background-color:#0a0a0a;
}
/* HEADER */
  header {
    height: 10vh;
    display: flex;
    width: 100%;
    background-color: #0a0a0a;
    align-items: center;
    margin:1rem;
    z-index: 1000;
    justify-content: space-around;
    position: fixed;
  }

  .logo{
    display:flex;
    background: scroll;
    height: 200px;
    width: 300px;
    margin-left: 20px;
   
  }
  .logoMenu{
    display:flex;
    height: 30px;
  }
  
  header ul {
    display: flex;
    gap: 2rem;
    flex-direction:inherit;
    margin-right: 20px;
    justi
    list-style-type: none;
  }
  
  header a {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
  }
  
  header a::after {
    content: "";
 
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  header a:hover::after {
    width: 100%;
  }

  main {
    height: 80vh;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: space-around;
    background-color: #0a0a0a;
    margin-top: 60px; /* Ajusta el margen superior para evitar que el contenido se superponga al header */
  margin-bottom: 60px; /* Ajusta el margen inferior para evitar que el contenido se superponga al footer */

  }

  .gallery {
    display: flex;
    position: absolute;
    align-items:center;
    column-gap: 20px;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
  
  }

  .gallery_item{
    scroll-snap-align: center;
    min-width: 75%;

  }

  .gallery_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 .banner{
    display: flex;
    width: 1920px;
    background-color: #0a0a0a;
   
  }

  .banner span{
    font-family:Arial, Helvetica, sans-serif;
    position:-webkit-sticky;
  }

  .banner h1{
    font-size: 20px;
    margin-bottom: 10px;
    color:aliceblue;
    background-color: #0a0a0a;
  }

  

  .moving-container {
    display: inline-block;
    position:relative;
   
   
}

.moving-container span {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    color: aliceblue;
    flex-direction: column;
    animation: moveToLeft 8s infinite linear;
 
}

@keyframes moveToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px); /* Adjust the distance as needed */
    }
}


.banner-social{
display:flex;
height: 539px;
width: 1217px;
justify-content: center;
align-items: center;
margin: 2rem;
padding: 2rem;
background-color: #0a0a0a;
}


footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content:center;
  display: flex;
  background-color:#0a0a0a;
  padding: 10px 0; /* Añade un poco de espacio en la parte superior e inferior */
  text-align: center; /* Centra el contenido del pie de página */
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */




