/* PALETTE */
:root {
    --background-color: #070208;
    --primary-color: #ffffff;
    --secondary-color: #bebebe;
    --typography-h1: 30px;
    --typography-h2: 32px;
    --typography-h3-a: 14px;
    --typography-p: 13.6px;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
  }

    /* GLOBAL STYLES */
    body {
        background-color: var(--background-color);
        color: var(--primary-color);
        font-size: var(--typography-p);
        letter-spacing: 1.5px;
      }

        /* HEADER */
  header {
    height: 10vh;
    display: flex;
    background-color:#030303;
    align-items: center;
    justify-content: space-around;
  }
  .logo{
    display:flex;
    margin-top: 1rem;
    height: 100px;
    width: 200px;
  }
  
  header ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
  }
  
  header a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    display: flex;
    flex-direction: column;
  }
  
  header a::after {
    content: "";
    background-color: var(--primary-color);
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  header a:hover::after {
    width: 100%;
  }

  .logo img {
    margin-top: 12rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: banner 6s;
  }
  
  main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 .banner{
  display: flex;
    height: 340px;
    width: 1920px;
    background-image: url("https://res.cloudinary.com/dw9b8eqmc/image/upload/v1692272448/punk/banner1_niwlgz.png");
   
  }

  .moving-container {
    display: inline-block;
    position:relative;
   
}

.moving-container span {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    flex-direction: column;
    animation: moveToLeft 8s infinite linear;
 
}

@keyframes moveToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px); /* Adjust the distance as needed */
    }
}

.banner-social{
display:flex;
justify-content: center;
align-items: center;
margin: 2rem;
padding: 2rem;
background-color: aliceblue;
}


footer {
  height: 20vh;
  justify-content:center;
  display: flex;
  background-color:#0a0a0a;


}

.footer-font{
  display: flex;
  margin: 2rem;
  font-size: 20px;
}


